/*
|--------------------------------------------------------------------------
| Avatar
|--------------------------------------------------------------------------
*/
$avatar-size-xsmall: $img-size-xsmall;
$avatar-size-small: $img-size-small;
$avatar-size-medium: $img-size-medium;
$avatar-size-large: $img-size-large;
$avatar-size-xlarge: $img-size-xlarge;
$avatar-size-xxlarge: $img-size-xxlarge;