/*
|--------------------------------------------------------------------------
| Icon
|--------------------------------------------------------------------------
*/
$icon-family-base: 'pogoal-icon';

$icon-size-small: 18px;
$icon-size-medium: 22px;
$icon-size-large: 28px;