/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
*/
// Height
$page-top-height: 300px;
$page-top-height-md: 250px;
$content-top-height: $page-top-height;