/*
|--------------------------------------------------------------------------
| Page
|--------------------------------------------------------------------------
*/
// Body Background
$body-bg: $color-white-dark;

// #Content Padding
$page-content-padding-top: $padding-base * 2;
$page-content-padding-bottom: 100px;

// Page Title Margin
$page-title-margin: $page-content-padding-top;