/*
|--------------------------------------------------------------------------
| Thumbnail
|--------------------------------------------------------------------------
*/
// Padding
$thumbnail-padding: 4px;

// Border
$thumbnail-border: $color-gray-light-4;

// Background Color
$thumbnail-bg: $color-white;