/*
|--------------------------------------------------------------------------
| Toolbar
|--------------------------------------------------------------------------
*/
// Height
$toolbar-height: 60px;

// Border
$toolbar-border: $border-color;


/*
|--------------------------------------------------------------------------
| Toolbar User
|--------------------------------------------------------------------------
*/
// Background
$toolbar-user-bg: $color-white;
$toolbar-user-bg-hover: darken($toolbar-user-bg,10%);

// Size
$toolbar-glance-size: 80px;
