/*
|--------------------------------------------------------------------------
| uiBox
|--------------------------------------------------------------------------
*/
// Size
$uiBox-lg: $width-size-lg;
$uiBox-md: $width-size-md;
$uiBox-sm: $width-size-sm;