/*
|--------------------------------------------------------------------------
| uiCard
|--------------------------------------------------------------------------
*/
// Scaffolding
$uiCard-min-height: 100px;

// Border
$uiCard-border-color: $border-color;
$uiCard-border-radius: $border-radius-small;

// Color
$uiCard-content-color: $color-gray;

// Size
$uiCard-content-size: 12px;