/*
|--------------------------------------------------------------------------
| uiList
|--------------------------------------------------------------------------
*/
// Title
$uiList-name-color: $color-gray-light-2;

// Meta
$uiList-meta-color: $color-gray-light-2;

// Avatar
$uiList-avatar-size: $avatar-size-small;