/*
|--------------------------------------------------------------------------
| Modal
|--------------------------------------------------------------------------
*/
// Background color of modal content area
$modal-content-bg: $color-white;

// Modal content border color
$modal-content-border-color: $dark02;

// Modal backdrop background color
$modal-backdrop-bg: $color-black;

// Modal size
$modal-sm: $width-size-sm;
$modal-md: $width-size-md;
$modal-lg: $width-size-lg;