/*
|--------------------------------------------------------------------------
| uiTile
|--------------------------------------------------------------------------
*/
// Box Shadow
$uiTile-box-shadow-hover: 0 0 10px rgba(57,66,77,0.3);

// Line Height
$uiTile-title-line-height: 45px;
$uiTile-description-line-height: 14px;

// Padding