/*
|--------------------------------------------------------------------------
| uiTooltips
|--------------------------------------------------------------------------
*/
// Tooltip text color
$tooltip-color: $color-white;

// Tooltip background color
$tooltip-bg: $color-gray;
$tooltip-arrow-color: $tooltip-bg;
$tooltip-opacity: $light09;

// Tooltip max width
$tooltip-max-width: 200px;

// Tooltip arrow width
$tooltip-arrow-width: 5px;