.navBar{
  height: $navBar-height;
  position: relative;
  width: 100%;

  // z-index
  z-index: $zindex-below-toolbar;
}

.navBar__container {
  @include box-shadow($box-shadow-preset-3);
  background-color: $color-white;
  height: $navBar-height;
  top: $toolbar-height;
}

.navBar__main {
  @include center-table;
  display: table;

  > button,
  > a {
    line-height: $navBar-height;
    padding: 0 $padding-base;
    float: left;
  }

  > ul {
    > li {
      > button {
        line-height: $navBar-height;
        padding: 0 $padding-base;
      }
    }
  }
}