#toolbar {
  height: $toolbar-height;
  position: relative;
  width: 100%;

  // z-index
  z-index: $zindex-toolbar-fixed;

  .uiDropdown__menu {
    @include box-shadow(0 5px 5px rgba(57,66,77,0.25));
    margin-top: 0;
  }
}

.toolbar__container {
  // @include gradient-vertical($color-orange);
   @include box-shadow($box-shadow-preset-3);
  //border-bottom: 1px solid $toolbar-border;
  background-color: $color-white;
  height: $toolbar-height;
  top: 0;
}

.has-navBar,
.singleGroupPage,
.singleGroupPinnedPage,
.singleGroupMembersPage,
.singleGroupDockingPage,
.singleGroupProfilePage {
  .toolbar__container {
    @include box-shadow(none);
    @extend .bordered--b;
  }
}

// Main
.toolbar__main {
  padding-left: $padding-xsmall;
  float: left;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      max-height: $toolbar-height;
      position: relative;
      float: left;
    }
  }
}

// Minor
.toolbar__minor {
  float: right;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      max-height: $toolbar-height;
      position: relative;
      float: right;
    }
  }
}

// Center
.toolbar__center {
  height: $toolbar-height;
  position: absolute;
  width: 100%;

  h1 {
    //margin: ($toolbar-height - $brand-size) / 2 auto 0;
    //line-height: $line-height-one;
    //position: relative;
    margin: 18px auto 0;
    display: table;

    // z-index
    z-index: $zindex-toolbar-fixed + 1;
  }

  #brand {
    //line-height: $line-height-one;
    //font-size: $brand-size;
    //color: $brand-primary;
    //height: $brand-size;
    height: 25px;
    display: block;
  }
}

.toolbar__icons {
  > button {
    line-height: $toolbar-height;
    padding: 0 $padding-base;
    cursor: pointer;
  }

  .uiDropdown__menu {
    &:before {
      right: 18px;
      left: auto;
    }
    &:after {
      right: 19px;
      left: auto;
    }
  }
}

@import "toolbar/toolbar-portal";
@import "toolbar/toolbar-search";
@import "toolbar/toolbar-user";