.visitor {
  &.home {
    .toolbar__container {
      @include box-shadow($box-shadow-preset-2 !important);
      //background-color: $light09 !important;
      border: 0 !important;
    }

    #slider {
      margin-top: -$toolbar-height !important;
    }

    .createBtn {
      height: $toolbar-height !important;
    }
  }
}