.display-block {
  display: block !important;
}

.display-table {
  display: table !important;
}

.inline-block {
  display: inline-block !important;
}

.hidden {
  display: none !important;
}

.overflow-h {
  overflow: hidden;
}