/*
|--------------------------------------------------------------------------
| Links
|--------------------------------------------------------------------------
*/
a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

@include link(".lk-d", $link-color-dark);

@include link(".lk-darker", $color-gray);

.lk-block {
  &:hover {
    background-color: $dark008;
  }
}

.lk-bl {
  position: relative;

  &:hover {
    &:after {
      background-color: $brand-primary;
      position: absolute;
      width: 100%;
      content: "";
      height: 2px;
      bottom: 0;
      left: 0;
    }
  }
}

.lk-bd {
  position: relative;

  &:hover {
    &:after {
      background-color: $brand-primary;
      border: 2px solid lighten($brand-primary,20%);
      position: absolute;
      border-radius: 50%;
      margin-left: -5px;
      z-index: 999;
      height: 10px;
      bottom: -5px;
      width: 10px;
      content: "";
      left: 50%;
    }
  }
}

.link-fake {
  cursor: pointer;
}

.unlink {
  cursor: default;
}