.uiFeeds {
  position: relative;

  &:before {
    background-color: $color-gray-light-5;
    top: -$padding-base * 2;
    position: absolute;
    margin-left: -1px;
    height: 100%;
    content: "";
    width: 2px;
    left: 50%;
  }
}

/*
|--------------------------------------------------------------------------
| uiFeed
|--------------------------------------------------------------------------
*/
.uiFeed {
  @include border-radius($border-radius-base);
  @include box-shadow($box-shadow-preset-4);

  //border-color: $border-color-light;
  //border-width: 1px 1px 2px 0;
  //border-style: solid;

  margin-bottom: $padding-base * 2;
  position: relative;
}

/*
|--------------------------------------------------------------------------
| uiFeed Main
|--------------------------------------------------------------------------
*/
.uiFeed__main {
  @include border-top-radius($border-radius-base);
  @include box-shadow($box-shadow-bottom-solid);
  border-left: $uiFeed-main-border-left solid $brand-primary;
  background-color: $color-white;
  position: relative;

  //&:after {
  //  background-color: $color-gray-light-4;
  //  background-color: $dark006;
  //  position: absolute;
  //  bottom: -2px;
  //  width: 100%;
  //  height: 2px;
  //  content: "";
  //  left: 0;
  //}
}

/*
|--------------------------------------------------------------------------
| uiFeed Avatar
|--------------------------------------------------------------------------
*/
.uiFeed__avatar {
  margin: $padding-base 0 0 $padding-base;
  float: left;
}

/*
|--------------------------------------------------------------------------
| uiFeed Details
|--------------------------------------------------------------------------
*/
.uiFeed__details {
  margin-left: $avatar-size-medium + $padding-base;
  padding: 12px $padding-base 0 $padding-base;
  margin-bottom: $padding-small;
}

.uiFeed__details__author {
  a {
    font-weight: 600;
  }
}

.uiFeed__details__misc {
  font-size: $font-size-xxsmall;
  color: $text-color-light;
}

.uiFeed__details__misc__time {
  margin-right: $padding-xsmall;
}

/*
|--------------------------------------------------------------------------
| uiFeed Article
|--------------------------------------------------------------------------
*/
.uiFeed__article {
  margin-left: $avatar-size-medium + $padding-base;
  margin-bottom: $padding-base;
  padding: 0 $padding-base;
}

.uiFeed__article__img {
  @include transition($general-transition);

  margin-left: -($avatar-size-medium + ($padding-base * 2) + $uiFeed-main-border-left);
  margin-bottom: $padding-base;
  margin-right: $padding-base;
  margin-top: 0;

  max-height: $uiFeed-article-img-max-width * 3;
  max-width: $uiFeed-article-img-max-width;
  width: $uiFeed-article-img-max-width;

  overflow: hidden;
  float: left;

  &:hover {
    @include box-shadow(1px 0 10px 1px rgba(57, 66, 77, 0.5));
  }

  img {
    width: $uiFeed-article-img-max-width;
    max-width: 100%;
    height: auto;
  }

  //+ .uiFeed__article__text {
  //  margin-left: $uiFeed-article-img-max-width - ($avatar-size-medium + $padding-base + $uiFeed-main-border-left);
  //}
}

.uiFeed__article__text {
  p {
    &:last-child {
      margin: 0;
    }
  }
}

/*
|--------------------------------------------------------------------------
| uiFeed Misc.
|--------------------------------------------------------------------------
*/
.uiFeed__misc {
  padding: 0 $padding-base $padding-base;
  display: table;
  width: 100%;
}

/*
|--------------------------------------------------------------------------
| uiFeed Footer
|--------------------------------------------------------------------------
*/
.uiFeed__footer {
  @include border-bottom-radius($border-radius-base);
  border-left: $uiFeed-main-border-left solid lighten($brand-primary, 20%);
  background-color: lighten($color-gray-light-6, 2%);

  .form-control {
    &:focus {
      background-color: $color-white-dark;
    }
  }
}

/*
|--------------------------------------------------------------------------
| uiFeed Reply
|--------------------------------------------------------------------------
*/
.uiFeed__reply__item {
  border-bottom: 1px solid $border-color-dark;
  border-bottom: 1px solid $dark01;

  .uiFeed__details {
    margin-bottom: $padding-xsmall;
  }

  .uiFeed__details__author {
    margin-right: $padding-xsmall;
    display: inline;
  }

  .uiFeed__details__misc {
    display: inline;
  }

  .uiFeed__article {
    margin-bottom: $padding-small;
  }

  .uiFeed__article__img {
    max-height: $uiFeed-reply-article-img-max-width * 3;
    max-width: $uiFeed-reply-article-img-max-width;
    width: $uiFeed-reply-article-img-max-width;
    margin-top: $padding-xsmall;
    margin-left: 0;

    &:hover {
      @include box-shadow(none);
    }

    img {
      width: $uiFeed-reply-article-img-max-width;
    }

    //+ .uiFeed__article__text {
    //  margin-left: $uiFeed-reply-article-img-max-width + $padding-base;
    //}
  }

  .uiFeed__article__text {
    color: $color-gray-light;
    font-size: $font-size-xsmall;
  }

  .uiFeed__misc {
    > .pull-left {
      margin-left: $avatar-size-medium + $padding-base;
    }
  }

  .uiFeed__reply__form {
    padding: 0 $padding-base $padding-base;
    border: 0;

    .post-childReply {
      @include border-radius($border-radius-base);
      margin-left: $avatar-size-medium + $padding-base;
      background-color: darken($color-gray-light-6, 2%);
      padding: $padding-base;
    }
  }
}

//.uiFeed__reply__item__fix {
//  display: table;
//  width: 100%;
//  height: 0;
//}

/*
|--------------------------------------------------------------------------
| uiFeed Reply Second Level
|--------------------------------------------------------------------------
*/
.uiFeed__reply__secondLevel {
  @include border-radius($border-radius-base);

  margin-left: $avatar-size-medium + ($padding-base * 2);
  margin-bottom: $padding-base;
  margin-right: $padding-base;

  background-color: darken($color-gray-light-6, 2%);

  .uiFeed__reply__item {
    &:last-child {
      border-bottom: 0;
    }
  }
}

/*
|--------------------------------------------------------------------------
| uiFeed Reply Form
|--------------------------------------------------------------------------
*/
.uiFeed__reply__form {
  padding: $padding-base $padding-base 0;
  //border-top: 1px solid $border-color-dark;
  //border-top: 1px solid $dark01;
  display: table;
  width: 100%;
}

.uiFeed__reply__form__input {
  overflow: hidden;
}

/*
|--------------------------------------------------------------------------
| uiFeed Footer Hidden Control
|--------------------------------------------------------------------------
*/
.uiFeed__footer__toggle {
  line-height: $uiFeed-footer-height-inactive;
  cursor: pointer;
}

.uiFeed__footer {
  .uiFeed__footer__mask {
    position: relative;
    display: none;

    .close {
      font-size: $font-size-xlarge;
      right: $padding-base;
      top: $padding-small;
      position: absolute;
      font-weight: 200;
    }
  }
  //&.inactive {
  //  .uiFeed__footer__mask {
  //    display: none;
  //  }
  //}
}

//.uiFeed__reply__item {
//
//  .uiFeed__reply__form {
//    display: none;
//  }
//
//  &.active-reply-form {
//    .uiFeed__reply__form {
//      display: table;
//    }
//  }
//}