.uiFeeds {
  position: relative;

  &:before {
    background-color: $color-gray-light-5;
    top: -$padding-base * 2;
    position: absolute;
    margin-left: -1px;
    height: 100%;
    content: "";
    width: 2px;
    left: 50%;
  }
}

/*
|--------------------------------------------------------------------------
| uiFeed
|--------------------------------------------------------------------------
*/
.uiFeed {
  @include border-radius($border-radius-base);
  @include box-shadow($box-shadow-preset-4);
  margin-bottom: $padding-base * 2;
  position: relative;
  display: block;
}

/*
|--------------------------------------------------------------------------
| uiFeed Main
|--------------------------------------------------------------------------
*/
.uiFeed__main {
  @include border-top-radius($border-radius-base);
  @include box-shadow($box-shadow-bottom-solid);
  //border-left: 3px solid $brand-primary;
  background-color: $color-white;
  position: relative;
}

/*
|--------------------------------------------------------------------------
| uiFeed Top
|--------------------------------------------------------------------------
*/
.uiFeed__main__top {
  padding: $padding-base $padding-base 0 $padding-base;
  margin-bottom: $padding-base;
}

.uiFeed__avatar {
  margin-right: $padding-base;
  display: block;
  float: left;
}

.uiFeed__details {
  overflow: hidden;
}

.uiFeed__details__author {
  @include text-overflow;
  font-weight: 600;

  a {
    color: $text-color;

    &:hover {
      color: $color-blue;
    }
  }
}

.uiFeed__details__misc {
  font-size: $font-size-xsmall;
  color: $text-color-light;
}

/*
|--------------------------------------------------------------------------
| uiFeed Article
|--------------------------------------------------------------------------
*/
.uiFeed__article {
  margin-bottom: $padding-base;
  display: block;
}

.uiFeed__article__img {
  position: relative;

  img {
    position: relative;
    width: 100%;
  }

  &.preview {
    overflow: hidden;
    height: 200px;

    img {
      top: -50%;
    }
  }
}

.uiFeed__article__text {
  margin-bottom: $padding-base;
  padding: 0 $padding-base;
  color: $text-color;

  p {
    &:last-child {
      margin: 0;
    }
  }

  &.excerpt {
    overflow: hidden;
    max-height: 40px;
  }
}

/*
|--------------------------------------------------------------------------
| uiFeed Misc.
|--------------------------------------------------------------------------
*/
.uiFeed__misc {
  padding: 0 $padding-base $padding-base;
  display: table;
  width: 100%;

  .uiDropdown__menu {
    &:before {
      right: 10px;
    }
    &:after {
      right: 11px;
    }
  }
}

/*
|--------------------------------------------------------------------------
| uiFeed Footer
|--------------------------------------------------------------------------
*/
.uiFeed__footer {
  @include border-bottom-radius($border-radius-base);
  @include clearfix;

  line-height: $avatar-size-xsmall;

  //border-left: 3px solid lighten($brand-primary, 20%);
  background-color: lighten($color-gray-light-6, 2%);
  padding: $padding-base;
  color: $text-color;
  display: block;

  &:hover {
    color: $text-color;
  }

  .avatar {
    margin-right: $padding-small;
    float: left;
  }
}


/*
|--------------------------------------------------------------------------
| uiFeed Reply
|--------------------------------------------------------------------------
*/
.uiFeed__reply {
  .uiFeed__reply__form {
    background-color: $color-gray-light-6;
    margin-top: $padding-base;
    padding: $padding-base;
    margin-bottom: 0;
  }
}

.uiFeed__reply__main {
  padding: $padding-base;
}

.uiFeed__reply__item {
  @include border-radius($border-radius-base);
  @include box-shadow($box-shadow-preset-4);
  background-color: $color-white;
  margin-bottom: $padding-base;
}

.uiFeed__reply__top {
  margin-bottom: $padding-base;
}


/*
|--------------------------------------------------------------------------
| uiFeed Reply Second Level
|--------------------------------------------------------------------------
*/
.uiFeed__reply__secondLevel {
  @include border-bottom-radius($border-radius-base);
  background-color: $color-gray-light-6;

  .uiFeed__reply__item {
    @include border-radius(0);
    @include box-shadow(none);
    border-bottom: 1px solid $dark01;
    background-color: transparent;
    padding: $padding-base;
    margin-bottom: 0;

    &:last-child {
      border-bottom: 0;
    }
  }
}


/*
|--------------------------------------------------------------------------
| uiFeed Reply Form
|--------------------------------------------------------------------------
*/
.uiFeed__reply__form {
  @include border-radius($border-radius-base);
  @include box-shadow($box-shadow-preset-4);
  background-color: $color-gray-light-5;
  margin-bottom: $padding-large;
  padding: $padding-base;
}

.uiFeed__reply__form__input {
}


/*
|--------------------------------------------------------------------------
| Single Feed Page
|--------------------------------------------------------------------------
*/
.show-groupSingleFeedPage,
.show-dockingGroupSingleFeedPage {

  .uiFeed {
    @include box-shadow(none);
  }

  .uiFeed__main {
    @include border-radius($border-radius-base);
    @include box-shadow($box-shadow-preset-4);
    margin-bottom: $padding-large;
  }

  .uiFeed__main__top {
    border-bottom: 1px solid $border-color;
    margin-bottom: $padding-large;
    padding: $padding-base;
  }

  .uiFeed__article__text {
    margin-bottom: $padding-large;
    padding: 0 $padding-large;
    color: $text-color;
    line-height: 22px;
  }

  .uiFeed__misc {
    border-top: 1px solid $border-color;
    padding: $padding-base;
  }

  .uiFeed__reply {
    .uiFeed__article__text {
      margin-bottom: $padding-base;
      padding: 0;
    }

    .uiFeed__misc {
      padding: 0;
      border-top: 0;
    }
  }

}